<button (click)="onClickMostra()">Mostra Macchine</button>
<button (click)="onClickAggiungi()">Aggiungi Auto</button>

<div *ngIf="aggiungi">
  <app-car-form-reactive (sendedCar)="forEventCloseForm($event)"></app-car-form-reactive>
</div>

<div *ngIf="mostra">
  <ul *ngFor="let item of listCar">
    <div class="card" style="width: 18rem; margin: 20px">
      <img
        src="https://source.unsplash.com/random?{{ item.marca }},car"
        class="card-img-top"
        alt="..."
        style="
          width: 100% !important;
          height: 200px !important;
          object-fit: cover;
        "
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.marca }} {{ item.modello }}</h5>
        <p class="card-text">Cambio {{ item.cambio }}</p>
        <a href="#" class="btn btn-primary">Noleggia</a>
      </div>
    </div>
  </ul>
</div>
